body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(122, 122, 122);
}

.reset {
	width: 60px;
}

.board {
	height: 800px;
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	background-color: grey;
	margin-top: 1vh;
}

.board div {
	height: 80px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./assets/mines.svg);
	color: white;
	font-size: 2.5rem;
}

.checked {
	background-color: red;
}

.flags-count {
}
